.works {
    height: calc(100vh - 150px);
    width: 100%;
}

.work {
    padding-top: 100px;
    height: 100vh;
}

.welcome {
    width: 100%;
    height: 100vh;
    display: flex; // display: none;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    .header {
        display: block;
        font-family: 'Butler', serif;
        font-size: $larger-font;
        letter-spacing: -1.8px;
        color: black;
    }
    .oh {
        position: relative;
    }
    .intro {
        display: inline-block;
        margin: auto;
        height: auto;
    }
    .what {
        display: block;
        position: relative;
        margin-top: 25px;
        height: auto;
        overflow: hidden;
        text-transform: uppercase;
    }
    .start {
        margin-top: 30px;
        opacity: 1;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        color: white;
        z-index: 100;
        padding: 12px 30px;
        font-family: $playfair;
        transition: all 200ms ease-in-out;
        &:before {
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            background: black;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: all 200ms ease-in-out;
        }
        &:hover {
            color: black;
            &:before {
                height: 2px;
            }
        }
    }
}