// Font Sizes
$tiny-font: 1rem;
$small-font: 1.2rem;
$normal-font: 1.4rem;
$large-font:3rem;
$larger-font:6rem;
// Font Colors
$text-body: #7f7f7f;
//Font Family
$playfair: 'Butler';
//Colors
$yellow: #FECB2F;